body{
 margin: 0;
 padding: 0;
 height: 100vh;
}

.git{
    color: aquamarine;
    background: #efed40;
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

button{
    color: #efed40;
    background: aquamarine;
    padding: 20px;
    border: none;
    font-size: 30px;
    border-radius: 10px;
}